<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja2 Ejemplo</title>
</head>
<body>
    {% block content %}
    <h1>¡Hola, {{ nombre }}!</h1>
    <p>Tienes {{ edad }} años.</p>

    <h2>Lista de tus actividades favoritas:</h2>
    <ul>
        {% for cosa in lista %}
        <li>{{ cosa }}</li>
        {% endfor %}
    </ul>

    <h2>Datos del curso:</h2>
    <p>Curso: {{ datos.curso }}</p>
    <p>Duración: {{ datos.duración }}</p>
    {% endblock %}
</body>
</html>